<% provide(:title, 'About') %>
<h1>Artwalker as a Platform</h1>

<h2>Today we demonstrated Artwalkers core functionaltiy - many additional features can be layered on top of this:</h2>
<div class="ulCenter">
	<dl>
	  <dt>Filtering</dt>
	  <dd>Venue types, subtypes (e.g. modern art, Cuban restaurants)</dd>
	  <dt>User Profiles</dt>
	  <dd>Destination history, Follow others, Alerts</dd>
	  <dt>Check Ins</dt>
	  <dd>Integration with Foursquare/Yelp</dd>
	  <dt>Hours and Events</dt>
	  <dd>Filter by time</dd>
	</dl>
</div>

<h2>We believe our "touring" feature set can be applied to a wide range of destination types:</h2>
<div class="ulCenter">
	<dl>
	  <dt>Art</dt>
	  <dd>Galleries, Museums, Architecture, Exhibitions</dd>
	  <dt>History</dt>
	  <dd>Landmarks, Monuments, Government Buildings, Famous Homes</dd>
	  <dt>Dining</dt>
	  <dd>Restaurants, Cafes, Bars</dd>
	</dl>
</div>

<h2>This makes it attractive to a  wide variety of organizations and events</h2>