<div class="container">
	<div class="text-center jumbotron">
		<h1>Welcome to Sipper!</h1>
		<p>Charge optimization for electric vehicles</p>
		
		<%= link_to 'placeholder', class: "btn btn-primary btn-lg" do %>
			Learn More
		<% end %>
        </br>
        <%= link_to 'placeholder', class: "btn btn-link btn-lg" do %>
        	<span class="glyphicon glyphicon-flash"></span>Sign In
        <% end %>


	</div>
</div>