<% provide(:title, 'Map') %>
<% content_for(:js) do %>
	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBP-u-4JpHxGS3bIXI3BzTo2Yw8Q3kw9TM", "data-turbolinks-track" => true %>
<% end %>

<h1>My Artwalk</h1>
<div class="container" id="coreApp">
	<div class="row">
		<div class="col-xs-4">
			<div class="row" id="gallerySelector">
				<%= render 'shared/gallery_list' %>
			</div>
			<div class="row" id="galleryDetail">
			</div>
		</div>		
		<div class="col-xs-8" >
			<div id="map-canvas">
			</div>
			<div id="directionsPanel">
			</div>
			<br>
			<div id="generateContainer">
				<button type="button" id="generateButton" class="btn btn-primary btn-lg">Generate Artwalk!</button>
				<div class="btn-group" id="directionsToggle">
				  <button type="button" class="btn btn-default" id="mapButton">Map</button>
				  <button type="button" class="btn btn-default" id="directionsButton">Directions</button>
				</div>
			</div>
		</div>
	</div>
</div>

