<div class="center jumbotron">
	<h1>Welcome to Artwalker!</h1>
	<h2>Create your own customized Miami art tour!</h2>

	<%= link_to 'map', class: "btn btn-primary btn-lg" do %>
		Get Started!
	<% end %>
    </br>
</div>