<div class="center jumbotron">
	<h1>Welcome to Sipper!</h1>
	<h2>Charge optimization for electric vehicles</h2>

	<%= link_to 'placeholder', class: "btn btn-primary btn-lg" do %>
		Learn More
	<% end %>
    </br>
    <button class="btn btn-link btn-lg" data-toggle="modal" data-target="#signinModal">
    	<span class="glyphicon glyphicon-flash"></span>Sign In
    </button>
</div>