@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar {
  border-radius: 0;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* core app */

#coreApp {
  height: 500px;
}

#gallerySelector {
  height: 250px;
  overflow: auto;
  border-style: solid;
}

.selectedGallery { 
  background-color: #dbefff;
}

#galleryDetail {
  margin-top: 10px;
  margin-bottom: -10px;
  margin-left: 3px;
  margin-right: -5px;
  height: 250px;
}

#galleryDescription {
  height: 100px;
  overflow: scroll;
}

#selectRadio {
  position: absolute;
  bottom: 0;
}

.start {

}

.middle {
  
}

.end {
  
}

/* map */

 #map-canvas {
  height: 450px;
  width: 100%;
 }

 #generateContainer {
  text-align: center;
 }

 #directionsToggle {
  margin-left: 60px;
 }

 #directionsPanel {
  height: 500px;
  overflow: auto;
 }

/* about */

.ulCenter {
  margin-left:30%;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


