<div class="container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#currentCharge" role="tab" data-toggle="tab">Current Charge</a></li>
	  <li><a href="#vehicleInfo" role="tab" data-toggle="tab">Vehicle Info</a></li>
	  <li><a href="#chargeHistory" role="tab" data-toggle="tab">Charge History</a></li>

	  <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      Vehicles <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	      <li><a href="#">Blue Tesla Model S</a></li>
	      <li><a href="#">Black Tesla Roadster</a></li>
	    </ul>
  	  </li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane active" id="currentCharge">...</div>
	  <div class="tab-pane" id="vehicleInfo">...</div>
	  <div class="tab-pane" id="chargeHistory">...</div>
	</div>
</div>